
.jumbo-background {
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./bg/coffee-and-doodle-MOBILEjpg.jpg');

    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
        background-image: url("./bg/coffee-and-doodles.jpg");
    }

    @media (min-width: 1600px) {
        background-image: url("./bg/coffee-and-doodles-final.jpg");
    }

    .lead {
        @media (min-width: 992px) {
            max-width: 40%;
        }
    }
}

.alt-jumbo {
    background-image: url('./bg/ghost-organge-MOBILE.jpg');

    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
        background-image: url("./bg/ghost_V2-2000px.jpg");
    }
}

.contact-jumbo {
    background-image: url('./bg/contact-me-MOBILE_V1.jpg');

    @media (min-width: 992px) {
        background-image: url("./bg/contact-me-MEDIUM.jpg");
    }

    @media (min-width: 1600px) {
        background-image: url("./bg/contact-me-LARGE.jpg");
    }
}