@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

.nth-child-li-target li:nth-child(odd) {
    font-weight: bold;
}

.hoverOpacity:hover {
    opacity: 0.5;
}

.modal-width {
    max-width: 600px;
}